<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIjD-GBhhWXXQC1I0lkJXWvik7MRpFNpc</string>
	<key>GCM_SENDER_ID</key>
	<string>219952833292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.moashraf.elshayeb</string>
	<key>PROJECT_ID</key>
	<string>elshayeb-9d84a</string>
	<key>STORAGE_BUCKET</key>
	<string>elshayeb-9d84a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219952833292:ios:24ff6364d78431c8bf1f29</string>
</dict>
</plist>